@using Microsoft.AspNet.Identity
@model Chess.Models.ChessFieldModel
@{
	ViewBag.Title = "ChessField";
}
<div class="container body-content">
	<h2>Hey, Gremlin!</h2>
	<h2>``Here will be future amazing game``</h2>
	@{

		var userName = "";
		userName = Request.IsAuthenticated ? User.Identity.GetUserName() : "Unknown";
	}
	<h2>@userName, You play with... @Model.OpponentName!</h2>
	<a rel="stylesheet" href="http://www.codeproject.com/Articles/36112/Chess-Program-in-C"> Chess engine created by </a>
	<canvas id="field"></canvas>
	<div id="SendField" data-url='@Url.Action("SendField", "Game")'>
		<button class="btn btn-primary" onclick="sendField('hello, ajax!')">Test ajax button (only for authorize users! see controller)</button>
	</div>
</div>
