@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container body-content">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-6">
                <h2>Hi, Gremlins! What a lovely day!</h2>
            </div>
        </div>
    </div>
    <h2>Chess</h2>
    <img src="http://www.chesssetsbd.com/media/img/thechessstore/W1100-H560-Bffffff/chess_set_packages/parker_staunton_chess_set_burnt_boxwood_with_board_setup_1100.jpg" alt="chess game">
</div>
