@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container body-content">
	<div class="jumbotron">
		<div class="row">
			<div class="col-md-6">
				<h2>Hi, Gremlin! What a lovely day!</h2>
			</div>
		</div>
	</div>
	<img src="~/Content/chess.png">
	<div class="btn-group" role="group">
		<a class="btn btn-default" href="@Url.Action("StartGameWithPlayer", "Game")">Найти игру с другим игроком</a>
		<a class="btn btn-default" href="@Url.Action("StartGameWithBot", "Game")">Тренироваться с гремлином</a>
	</div>

</div>
